* {
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(-160deg,
            #090011,
            #3e0070,
            #8600c4);
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    grid-gap: 1%;
    height: 97%;
    width: 99%;
    /* border: solid beige; */
    display: grid;
    grid-template: 15% 85% / repeat(4, 1fr);
    grid-template-areas:
        "clicks views sales people"
        "content content content content";
}

.clicks {
    background: linear-gradient(90deg,
            rgb(25, 0, 255),
            rgb(98, 62, 255));
    border-radius: 1vh;
}

.views {
    background: linear-gradient(-90deg,
            rgb(255, 185, 251),
            rgb(164, 71, 177));
    border-radius: 1vh;
}

.sales {
    background: linear-gradient(-90deg,
            rgb(255, 187, 0),
            rgb(255, 239, 97));
    border-radius: 1vh;
}

.people {
    background: linear-gradient(-90deg,
            rgb(252, 135, 135),
            rgb(206, 41, 41));
    border-radius: 1vh;
}

.content {
    grid-area: content;
    grid-gap: 1%;
    height: 98.9%;
    width: 99%;
    /* border: solid rgb(255, 0, 0); */
    display: grid;
    grid-template: 50% 50% / 40% 60%;
    grid-template-areas:
        "circle pilar"
        "waves graphic";
}

.circle {
    background: linear-gradient(90deg,
            rgb(0, 0, 27),
            rgb(0, 36, 48));
    border-radius: 1vh;
}

.pilar {
    background: linear-gradient(90deg,
            rgb(0, 0, 27),
            rgb(0, 36, 48));
    border-radius: 1vh;
}

.waves {
    background: linear-gradient(90deg,
            rgb(0, 0, 27),
            rgb(0, 36, 48));
    border-radius: 1vh;
}

.graphic {
    background: linear-gradient(90deg,
            rgb(0, 0, 27),
            rgb(0, 36, 48));
    border-radius: 1vh;
}