* {
    margin: 0;
    padding: 0;
}
div {
    /* border: solid 1px red; */
}
body {
    background: linear-gradient(-160deg,
            #090011,
            #3e0070,
            #8600c4);
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    grid-gap: 1%;
    height: 95%;
    width: 97%;
    /* border: solid beige; */
    display: grid;
    grid-template: 15% 85% / repeat(2, 13%) repeat(3, 1fr);
    grid-template-areas:
        "card card1 views sales people"
        "content content content content content";
}
.card {
    background: linear-gradient(90deg,
            rgb(112, 0, 163),
            rgb(178, 62, 255));
    border-radius: 1vh;
}
.card1 {
    background: linear-gradient(90deg,
            rgb(50, 27, 255),
            rgb(62, 113, 255));
    border-radius: 1vh;
}

.views {
    background: linear-gradient(-90deg,
            rgb(151, 223, 133),
            rgb(73, 134, 49));
    border-radius: 1vh;
    font-size: 300%;
}

.sales {
    background: linear-gradient(90deg,
            rgb(255, 187, 0),
            rgb(255, 239, 97));
    border-radius: 1vh;
}

.people {
    background: linear-gradient(-90deg,
            rgb(252, 135, 135),
            rgb(206, 41, 41));
    border-radius: 1vh;
}

.content {
    grid-area: content;
    grid-gap: 1%;
    height: 98.9%;
    width: 99%;
    /* border: solid rgb(255, 0, 0); */
    display: grid;
    grid-template: 50% 50% / 40% 60%;
    grid-template-areas:
        "circle pilar"
        "waves graphic";
}

.circle {  
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 2.5%;
    background: linear-gradient(90deg,
            rgb(0, 0, 27),
            rgb(0, 36, 48));
    border-radius: 1vh;
}

.pilar {
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 2.5%;
    background: linear-gradient(90deg,
            rgb(0, 0, 27),
            rgb(0, 36, 48));
    border-radius: 1vh;
}

.radar {
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 2.5%;
    grid-area: 2.5%;
    background: linear-gradient(90deg,
            rgb(0, 0, 27),
            rgb(0, 36, 48));
    border-radius: 1vh;
}

.graphic {
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 2.5%;
    background: linear-gradient(90deg,
            rgb(0, 0, 27),
            rgb(0, 36, 48));
    border-radius: 1vh;
}

.topocard {
    display: flex;
    width: 100%;
    height: 20%;
}
.marcacard {
    padding-left: 5%;
    padding-top: 5%;
    flex-direction: row;
    height: 100%;
    width: 60%;
    font-size: 200%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.logomarca {
    height: 100%;
}
.sinalcard {
    padding-top: 5%;
    padding-right: 4%;
    display: flex;
    justify-content: flex-end;
    height: 100%;
    width: 30%;
}
.sinal {
    height: 100%;
}
.chipcard {
    display: flex;
    justify-content: end;
    align-items: flex-end;
    padding-right: 7%;
    padding-bottom: 7%;
    height: 40%;
}
.chip{
    height: 50%;
}

.baixocard {
    display: flex;
    height: 20%;
}
.nomecard {
    padding-left: 5%;
    display: flex;
    align-items: baseline;
    height: 100%;
    width: 60%;
    font-size: 100%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.visacard {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    width: 30%;
    padding-bottom: 10px;
    padding-right: 2%;
}
.visalogo {
    height: 200%;
}